<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Simon's Domain</title>


        <link rel="SHORTCUT ICON" type="image/x-icon" href="/static/images/favicons/favicon-96x96.png"/>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/index.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<script src="https://use.fontawesome.com/d9dd0c4d7a.js"></script>
		<script type="text/javascript" src="/static/js/index.js"></script>
		
		<!-- HASH SHA512 LIBRARY -->
		<script type="text/javascript" src="/static/js/js-sha512.js"></script>

		<!-- CRYPTICO ENCRYPTION AND DECRYPTION LIBRARY -->
		<script type="text/javascript" src="/static/js/cryptico/jsbn.js"></script>
        <script type="text/javascript" src="/static/js/cryptico/random.js"></script>
        <script type="text/javascript" src="/static/js/cryptico/hash.js"></script>
        <script type="text/javascript" src="/static/js/cryptico/rsa.js"></script>
        <script type="text/javascript" src="/static/js/cryptico/aes.js"></script>
        <script type="text/javascript" src="/static/js/cryptico/api.js"></script>


        <!-- JSENCRYPT ENCRYPTION AND DECRYPTION LIBRARY -->
        <script type="text/javascript" src="/static/js/jsencrypt/asn1js/asn1.js"></script>
        <script type="text/javascript" src="/static/js/jsencrypt/asn1js/base64.js"></script>
        <script type="text/javascript" src="/static/js/jsencrypt/asn1js/hex.js"></script>
        <script type="text/javascript" src="/static/js/jsencrypt/asn1js/oids.js"></script>

        <script type="text/javascript" src="/static/js/jsencrypt/jsbn/base64.js"></script>
        <script type="text/javascript" src="/static/js/jsencrypt/jsbn/jsbn.js"></script>
        <script type="text/javascript" src="/static/js/jsencrypt/jsbn/jsbn2.js"></script>
        <script type="text/javascript" src="/static/js/jsencrypt/jsbn/prng4.js"></script>
        <script type="text/javascript" src="/static/js/jsencrypt/jsbn/rng.js"></script>
        <script type="text/javascript" src="/static/js/jsencrypt/jsbn/rsa-async.js"></script>
        <script type="text/javascript" src="/static/js/jsencrypt/jsbn/rsa.js"></script>
        <script type="text/javascript" src="/static/js/jsencrypt/jsbn/rsa2.js"></script>

        <script type="text/javascript" src="/static/js/jsencrypt/jsrsasign/asn1-1.0.js"></script>

        <script type="text/javascript" src="/static/js/jsencrypt/jsencrypt.js"></script>


        <!-- FILESAVER LIBRARY -->
		<script type="text/javascript" src="/static/js/file-saver/FileSaver.js"></script>
		<script type="text/javascript" src="/static/js/file-saver/FileSaver.min.js"></script>


    </head>

    <body>

    	<h1>Welcome!</h1>

    	New User?
		<a href="" data-toggle="modal" data-target="#registerModal"><i class="fa fa-sign-in fa-5x"></i>REGISTER</a> <br>
		Already Have An Account?
    	<a href="" data-toggle="modal" data-target="#loginModal"><i class="fa  fa-chevron-right fa-5x"></i>LOGIN</a>

		<div class="modal fade" id="registerModal">
			<div class="modal-dialog" role="document">
		    	<div class="modal-content">
			    	<div class="gen-container">
			    	    <form id="registerModalForm">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">REGISTER</h4>
								<h5>Create An Account</h5>
							</div>
							<div class="form-element-row">
								<center>
									<input required type="text" placeholder="username" value="" id="register-username">
									<input required type="password" placeholder="password" value="" id="register-password">
									<input required type="password" placeholder="confirm password" value="" id="confirm-password">
									<br>
									<label for="register-public-key">Upload Your Public Key</label>
									<input required type="file" id="register-public-key" accept=".pem">
									Don't Have A Public Key?
									<button id="generate-keypair">Generate KeyPair</button>
								</center>
							</div>
							<div class="modal-footer">
								<p class="status-message" id="register-status-message"></p>
								<button id="register-button" type="submit" class="std-btn go">Register</button>
							</div>
						</form>
			    	</div>
		    	</div>
		  	</div>
		</div>

		<div class="modal fade" id="loginModal">
			<div class="modal-dialog" role="document">
		    	<div class="modal-content">
			    	<div class="gen-container">
			    	    <form id="loginModalForm">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">Login</h4>
								<h5>Enter Your Username And Password</h5>
							</div>
							<div class="form-element-row">
								<center>
									<input required type="text" placeholder="username" value="" id="login-username">
									<input required type="password" placeholder="password" value="" id="login-password"><br>
									<label for="add-private-key">Insert Private Key</label>
									<input required type="file" id="add-private-key" accept=".pem">
									<p class="note">*Note: This is used for encryption. This will not be sent to server.</p>
								</center>
							</div>
							<div class="modal-footer">
								<p class="status-message" id="login-status-message"></p>
								<button id="login-button" type="submit" class="std-btn go">Login</button>
							</div>
						</form>
			    	</div>
		    	</div>
		  	</div>
		</div>

    </body>
</html>